[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.22"
django-heroku = "*"
psycopg2 = {version = "*",platform_release = "=='4.4.0-1048-aws'"}
gunicorn = "*"
pillow = "*"
django-storages = {extras = ["google"],version = "*"}
python-dateutil = "*"
django-starfield = "*"
djangorestframework = "*"

[requires]
python_version = "3.7"
