<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <a class="uk-navbar-item uk-logo" href="/">Teching</a>
            <li class="uk-active"><a href="#">Active</a></li>
            <li>
                <a href="#">Parent</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Item</a></li>
        </ul>

    </div>
    <div class="uk-navbar-right">
        {% if user.is_authenticated %}
            <div class="uk-navbar-item">
                <a class="uk-button uk-button-default" href="{% url 'logout' %}">Log out</a>
            </div>
        {% else %}
            <div class="uk-navbar-item">
                <a class="uk-button uk-button-default" href="{% url 'login' %}">Log in</a>
            </div>
            <div class="uk-navbar-item">
                <a class="uk-button uk-button-primary" href="#">Sign up</a>
            </div>
        {% endif %}
    </div>

</nav>