{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <title>{% block title %}{{ APP_NAME }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}"/>
    {% block css %}{% endblock %}
</head>
<body>
{% block header %}{% include 'app/layouts/header.html' %}{% endblock %}
{% block nav %}{% include 'app/layouts/nav.html' %}{% endblock %}
{% block jumbotron %}{% endblock %}
<div class="uk-section">
    <a class="uk-position-fixed uk-position-medium uk-position-bottom-right uk-position-z-index" href="#" uk-totop
       uk-scroll></a>
    <div class="uk-container uk-container-small">
        {% block content %}{% endblock %}
    </div>
</div>
{% block footer %}{% include 'app/layouts/footer.html' %}{% endblock %}
<script src="{% static 'js/uikit.min.js' %}"></script>
<script src="{% static 'js/uikit-icons.min.js' %}"></script>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'app/js/ajax.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
