{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    Books - {{ block.super }}
{% endblock %}

{% block content %}

    <div class="uk-section">
        <div class="uk-container uk-container-small">
            <p class="uk-text-lead uk-text-center">Books</p>
            <div class="uk-flex uk-flex-center " uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 100; repeat: false">
                {% for book in book_list %}
                    <div>
                        <div class="uk-card uk-card-default uk-card-hover uk-card-media-top">
                            <a href="{% url 'book_detail' book.id %}"><img src="{{ book.image_link }}" alt=""></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a href="#" uk-totop uk-scroll></a>
        </div>
    </div>

{% endblock %}
