{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    {{ book.title }} - {{ block.super }}
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="uk-alert-success uk-width-large uk-align-center" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p class="uk-text-center">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <div class="uk-flex uk-flex-center uk-flex-middle" uk-grid>
        <div class="uk-flex uk-flex-column uk-grid-small" uk-grid>
            <div>
                <a href="{{ book.info_link }}"><img class="" src="{{ book.image_link }}"></a><br>
            </div>
            {% if user.is_authenticated %}
                <div class="uk-align-center">
                    <a class="uk-icon-button" uk-icon="pencil" uk-tooltip="Review" href="#modal-sections" uk-toggle></a>
                    <a class="uk-icon-button uk-margin-left" uk-icon="bookmark" uk-tooltip="Mark" href="#"
                       uk-toggle></a>
                </div>
            {% endif %}
        </div>

        <div class="uk-width-xlarge uk-margin-left">
            {% for tag in book.tags.all %}
                <span class="uk-label">{{ tag.name }}</span>
            {% endfor %}
            <h2>
                {{ book.title }}<br>
                {% if book.subtitle %}
                    <span class="uk-text-large">{{ book.subtitle }}</span>
                {% endif %}
            </h2>
            <p class="uk-text-meta">{{ book.authors.all | join:', ' }}<br>{{ book.published_date | date:"Y/n" }}</p>
            <div>
                <span uk-icon="star"></span>
                {% if not ave_score %}
                    <div class="uk-label uk-background-secondary uk-text-large">—</div>
                {% elif ave_score >= 4.0 %}
                    <div class="uk-label uk-text-large">{{ ave_score | floatformat:1 }}</div>
                {% elif ave_score >= 3.0 %}
                    <div class="uk-label uk-label-success uk-text-large">{{ ave_score | floatformat:1 }}</div>
                {% elif ave_score >= 2.0 %}
                    <div class="uk-label uk-label-warning uk-text-large">{{ ave_score | floatformat:1 }}
                    </div>
                {% else %}
                    <div class="uk-label uk-label-danger uk-text-large">{{ ave_score | floatformat:1 }}
                    </div>
                {% endif %}
            </div>
            <p>{{ book.description | linebreaksbr }}</p>
        </div>
    </div>

    <hr class="uk-divider-icon">

    <p class="uk-text-lead uk-text-center uk-margin-top">Latest reviews</p>
    {% if book.review_set.all %}
        <div uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 50; repeat: false">
            {% for review in book.latest_review_set %}
                <div class="uk-card uk-card-default uk-card-hover uk-width-2-3@s uk-align-center">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <a href="#"><img class="uk-border-circle" width="60" height="60"
                                                 src="{{ review.user.icon.url }}"></a>
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">
                                    <a href="{% url 'review_detail' review.id %}"
                                       class="uk-link-heading">{{ review.title }}</a>
                                </h3>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    <a href="#">{{ review.user.username }}</a><br>
                                    <time>{{ review.reviewed_at }}</time>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <span uk-icon="star"></span>
                        {% if review.score >= 4.0 %}
                            <div class="uk-label uk-text-large">{{ review.score | floatformat:1 }}</div>
                        {% elif review.score >= 3.0 %}
                            <div class="uk-label uk-label-success uk-text-large">{{ review.score | floatformat:1 }}</div>
                        {% elif review.score >= 2.0 %}
                            <div class="uk-label uk-label-warning uk-text-large">{{ review.score | floatformat:1 }}</div>
                        {% else %}
                            <div class="uk-label uk-label-danger uk-text-large">{{ review.score | floatformat:1 }}</div>
                        {% endif %}
                        <hr>
                        <p class="uk-text-meta">Why read?</p>
                        <p>{{ review.reason | linebreaksbr }}</p>
                        <hr>
                        <p class="uk-text-meta">Review</p>
                        <p>{{ review.body | linebreaksbr }}</p>
                    </div>
                    <div class="uk-card-footer">
                        <button class="uk-button like-button" data-href="{{ review.get_api_like_url }}">
                            <span uk-icon="heart"></span>
                            <span class="liked-count">{{ review.likes.count }}</span>
                        </button>
                        <hr>
                        <a href="{% url 'review_detail' review.id %}" class="uk-button uk-button-text">Read more</a>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% else %}
        <p class="uk-text-center">まだレビューされていません</p>
    {% endif %}

    <div id="modal-sections" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Your Review</h2>
            </div>
            <div class="uk-modal-body">
                <form action="{% url 'book_detail' book.id %}" method="POST">{% csrf_token %}
                    {{ post_review_form.as_p }}
                    <div class="uk-text-center">
                        <button class="uk-button uk-button-primary" type="submit">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'app/js/ajax.js' %}"></script>
{% endblock %}