{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    Books - {{ block.super }}
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="uk-alert-success uk-width-large uk-align-center" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p class="uk-text-center">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    {% if add_book_form.errors %}
        {% for errors in add_book_form.errors.values %}
            {% for error in errors %}
                <div class="uk-alert-danger uk-align-center" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p class="uk-text-center">{{ error }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <button class="uk-button uk-button-primary uk-align-center" href="#add-book-modal" uk-toggle><span
            uk-icon="plus"></span> Add New Book
    </button>
    <p class="uk-text-lead uk-text-center">Books</p>
    <div class="uk-flex uk-flex-center uk-flex-middle" uk-grid
         uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 100; repeat: false">
        {% for book in book_list %}
            <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-media-top">
                    <a class="uk-link-reset" href="{% url 'book_detail' book.id %}">
                        <img src="{{ book.image_link }}" alt="">
                        <div class="uk-grid-collapse uk-text-center uk-child-width-1-3" uk-grid>
                            <div class="review-button book-icon-button" data-href="{{ book.get_is_reviewed_url }}">
                                <span uk-icon="pencil"></span><br>
                                <span>{{ book.review_set.count }}</span>
                            </div>
                            <div class="mark-button book-icon-button" data-href="{{ book.get_api_mark_url }}">
                                <span uk-icon="bookmark"></span><br>
                                <span class="marked-count">{{ book.marks.count }}</span>
                            </div>
                            <div class="book-icon-button">
                                <span uk-icon="star"></span><br>
                                <span>
                                    {% if book.ave_score %}{{ book.ave_score | floatformat:1 }}{% else %}—{% endif %}
                                </span>
                            </div>
                        </div>
                    </a>
                </div>

            </div>

        {% endfor %}
    </div>

    <div id="add-book-modal" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">New Book</h2>
            </div>
            <div class="uk-modal-body uk-text-center">
                <form action="{% url 'books' %}" method="POST">{% csrf_token %}
                    <p>追加したい本のISBNを入力してください</p>
                    {{ add_book_form.isbn }}
                    <p>
                        ※ <a target="_blank" href="https://books.google.co.jp">Googleブックス</a>に存在する本にのみ対応しています<br>
                        ※ ISBN-10/13の両方に対応しています<br>
                        ※ 技術書以外の追加はご遠慮ください
                    </p>
                    <button class="uk-button uk-button-primary" type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}