{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    Books - {{ block.super }}
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="uk-alert-success uk-width-large uk-align-center" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p class="uk-text-center">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    {% if add_book_form.errors %}
        {% for errors in add_book_form.errors.values %}
            {% for error in errors %}
                <div class="uk-alert-danger uk-align-center" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p class="uk-text-center">{{ error }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <button class="uk-button uk-button-primary uk-align-center" href="#modal-sections" uk-toggle><span
            uk-icon="plus"></span> Add New Book
    </button>
    <p class="uk-text-lead uk-text-center">Books</p>
    <div class="uk-flex uk-flex-center uk-flex-middle" uk-grid
         uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 100; repeat: false">
        {% for book in book_list %}
            <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-media-top">
                    <a href="{% url 'book_detail' book.id %}"><img src="{{ book.image_link }}" alt=""></a>
                </div>
                <div class="uk-margin-top uk-text-center">
                    <span uk-icon="star"></span>
                    {% if not book.ave_score %}
                        <div class="uk-label uk-label-danger uk-text-large">0.0</div>
                    {% elif book.ave_score >= 4.0 %}
                        <div class="uk-label uk-text-large">{{ book.ave_score | floatformat:1 }}</div>
                    {% elif book.ave_score >= 3.0 %}
                        <div class="uk-label uk-label-success uk-text-large">{{ book.ave_score | floatformat:1 }}</div>
                    {% elif book.ave_score >= 2.0 %}
                        <div class="uk-label uk-label-warning uk-text-large">{{ book.ave_score | floatformat:1 }}
                        </div>
                    {% else %}
                        <div class="uk-label uk-label-danger uk-text-large">{{ book.ave_score | floatformat:1 }}
                        </div>
                    {% endif %}
                </div>
            </div>

        {% endfor %}
    </div>
    <a href="#" uk-totop uk-scroll></a>

    <div id="modal-sections" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">New Book</h2>
            </div>
            <div class="uk-modal-body uk-text-center">
                <form action="{% url 'books' %}" method="POST">{% csrf_token %}
                    <p>追加したい本のISBNを入力してください</p>
                    {{ add_book_form.isbn }}
                    <p>
                        ※ <a target="_blank" href="https://books.google.co.jp">Googleブックス</a>に存在する本にのみ対応しています<br>
                        ※ ISBN-10/13の両方に対応しています<br>
                        ※ 技術書以外の追加はご遠慮ください
                    </p>
                    <button class="uk-button uk-button-primary" type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
