{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}

    {% include 'app/layouts/nav.html' %}
    <div class="uk-background-cover uk-height-large uk-panel uk-flex uk-flex-center uk-flex-middle uk-light"
         data-src="{% static 'app/images/book.jpg' %}" uk-img>
        <div class="uk-text-center text-against-img">
            <h1 class="uk-heading-large">Mark, Read, Review.</h1>
            <p class="uk-text-lead uk-text-secondary">
                Techingは，技術書レビューサイトです．<br>
                読みたい技術書をマークしましょう．<br>
                技術書を読んで，レビューしましょう．<br>
                そして，良い技術書に出会いましょう ;)<br>
            </p>
        </div>
    </div>
{% endblock %}
