{% extends 'app/base.html' %}

{% block nav %}{% endblock %}

{% block content %}

    {% if form.errors %}
        {% for errors in form.errors.values %}
            {% for error in errors %}
                <div class="uk-width-large uk-alert-danger uk-align-center" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p class="uk-text-center">{{ error }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-width-1-1@m">
            <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                <h3 class="uk-card-title uk-text-center">
                    Sign in to <a class="app-logo uk-link-heading" href="{% url 'index' %}">{{ APP_NAME }}</a>
                </h3>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="uk-margin">
                        <button class="uk-button uk-button-primary uk-button-large uk-width-1-1" type="submit">Login
                        </button>
                        <input type="hidden" name="next" value="{{ next }}">
                    </div>
                    <div class="uk-text-small uk-text-center">
                        <p>Not registered? <a href="{% url 'signup' %}">Create an account</a><br>
                            <a href="{% url 'password_reset' %}">Forgot password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}