{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    {{ review.title }} - {{ block.super }}
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="uk-alert-success uk-width-large uk-align-center" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p class="uk-text-center">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <ul class="uk-comment-list">
        <li>
            <article class="uk-comment uk-visible-toggle" tabindex="-1">
                <header class="uk-comment-header uk-position-relative">
                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <a href="{% url 'mypage' review.user.username %}">
                                <img class="uk-comment-avatar" src="{{ review.user.icon.url }}" width="80" height="80"
                                     alt="">
                            </a>
                        </div>
                        <div class="uk-width-expand@s">
                            <h1>{{ review.title }}</h1>
                            <h4 class="uk-comment-title uk-margin-remove">
                                <a class="uk-link-reset"
                                   href="{% url 'mypage' review.user.username %}">{{ review.user.username }}</a>
                            </h4>
                            <p class="uk-comment-meta uk-margin-remove-top">{{ review.reviewed_at }}</p>
                        </div>
                    </div>
                    <div class="uk-position-top-right uk-position-small">
                        <button class="like-button uk-button uk-button-small my-button" uk-tooltip="Like"
                                data-href="{{ review.get_api_like_url }}">
                            <span uk-icon="heart"></span>
                            <span class="liked-count">{{ review.likes.count }}</span>
                        </button>
                        {% if review.user == user %}
                            <button uk-toggle="target: #delete-modal"
                                    class="uk-icon-button" uk-icon="trash"></button>
                            <div id="delete-modal" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body">
                                    <h2 class="uk-modal-title">Delete Review</h2>
                                    <p>レビューを削除しますか?</p>
                                    <p class="uk-text-right">
                                        <button class="uk-button uk-button-default uk-modal-close" type="button">
                                            Cancel
                                        </button>
                                        <a class="uk-button uk-button-danger"
                                           href="{% url 'review_delete' review.id %}">Delete</a>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </header>
                <div class="uk-comment-body">
                    <hr>
                    <div class="uk-grid-large uk-flex-center uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <a href="{% url 'book_detail' review.book.id %}"><img
                                    src="{{ review.book.image_link }}" alt=""></a>
                        </div>
                        <div class="uk-width-1-2@s">
                            <h4>
                                <a href="{% url 'book_detail' review.book.id %}"
                                   class="uk-link-heading">{{ review.book.title }}</a>
                            </h4>
                            {% if review.book.subtitle %}
                                <p>{{ review.book.subtitle }}</p>
                            {% endif %}
                            <span uk-icon="star"></span>
                            <div class="review-score uk-label uk-text-large">
                                {{ review.score | floatformat:1 }}
                            </div>
                            <p class="uk-text-meta">{{ review.book.description | linebreaksbr | truncatechars:100 }}</p>
                        </div>
                    </div>
                    <hr>
                    <p class="uk-text-meta">Why read?</p>
                    <p class="uk-text-lead">{{ review.reason | linebreaksbr }}</p>
                    <p class="uk-text-meta">Review</p>
                    <p class="uk-text-lead">{{ review.body | linebreaksbr }}</p>
                </div>
            </article>

            <hr class="uk-divider-icon">

            <p class="uk-text-lead uk-text-center">Comments</p>
            {% if review.oldest_comment_set %}
                <ul>
                    {% for comment in review.comment_set.all %}
                        <li>
                            <article class="uk-comment uk-comment-primary uk-visible-toggle" tabindex="-1">
                                <header class="uk-comment-header uk-position-relative">
                                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                        <div class="uk-width-auto">
                                            <a href="{% url 'mypage' comment.user.username %}">
                                                <img class="uk-comment-avatar" src="{{ comment.user.icon.url }}"
                                                     width="80" height="80" alt="">
                                            </a>
                                        </div>
                                        <div class="uk-width-expand">
                                            <h4 class="uk-comment-title uk-margin-remove">
                                                <a class="uk-link-reset"
                                                   href="{% url 'mypage' comment.user.username %}">
                                                    {{ comment.user.username }}
                                                </a>
                                            </h4>
                                            <p class="uk-comment-meta uk-margin-remove-top">
                                                {{ comment.commented_at }}
                                            </p>
                                        </div>
                                    </div>
                                </header>
                                <div class="uk-comment-body">
                                    <p>{{ comment.body | linebreaksbr }}</p>
                                </div>
                            </article>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="uk-text-center">まだコメントがありません</p>
            {% endif %}
        </li>
    </ul>

    {% if user.is_authenticated %}
        <div class="uk-margin-medium"></div>

        <form action="{% url 'review_detail' review.id %}" method="POST">{% csrf_token %}
            <legend class="uk-legend">Your Comment</legend>
            <div class="uk-margin">
                {{ post_comment_form.body }}
            </div>
            <button class="uk-button uk-button-primary" type="submit">Post</button>
        </form>
    {% endif %}

{% endblock %}