.text-against-img {
    text-shadow: 0 0 10px #080808;
}

.app-logo {
    font-family: 'Raleway', sans-serif;
}

.my-button {
    background-color: #ebebeb;
    border-radius: 10px;
}

.like-button-on {
    background: #F75D5D;
    color: #fff;
}

.mark-button-on {
    background: #FFF100;
    color: #000000;
}