.text-against-img {
    text-shadow: 0 0 10px #080808;
}

.app-logo {
    font-family: 'Raleway', sans-serif;
}

.like-button {
    border-radius: 10px;
}

.like-button-on {
    background: #F75D5D;
    color: #fff;
}
